#chrome_extension_privateWhatsApp__btn {
    display: inline;
    background-color: #b0b0b0;
    margin: 0 10px;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.4;
    transition: opacity .3s;
}

#chrome_extension_privateWhatsApp__btn:hover {
    opacity: 0.7 !important;
}

/*************************
        on hide:
*************************/
#side.hide {

    //_ BUTTON
    #chrome_extension_privateWhatsApp__btn:not(.auto-hide) {
        opacity: 1;
    }

    //_ CHATS
    //: HIDE chat-title:
    ._3vPI2 {
        opacity: 0.2; //* this value is referenced in popup.html
        transition: opacity 0.3s;
    }

    //: HIDE profiles:
    ._2EU3r {
        opacity: 0.5;
        transition: opacity 0.3s;
    }

    //: HIDE recent-msg:
    ._1qB8f {
        color: transparent;
        visibility: hidden;

        //: HIDE emoji:
        // just ones inside recent-msg
        img {
            display: none;
        }
    }

    //: SHOW on single chat hover
    ._2nY6U:hover {

        // profiles & chat-title
        ._3vPI2,
        ._2EU3r {
            opacity: 1;
        }
    }

    //: SHOW recent-msg (on recent-msg hover)
    // hover is on `._37FrU` and not on `._1qB8f` bcos of emojis (when the recent-msg is only an emoji, hover on `._1qB8f` doesn't work)
    ._37FrU:hover {
        ._1qB8f {
            $original_text_color: var(--cell-chat-secondary-color, var(--secondary));
            visibility: visible;
            color: $original_text_color;

            // emoji
            img {
                display: inline-block;
            }
        }
    }

    /********************************
            on hide chat-title too
    ********************************/
    //: HIDE chat-title:
    &.hide-chat-title-too {
        ._3vPI2 {
            opacity: 0;
        }
    }
}


/*************************
        on hide button
*************************/
#chrome_extension_privateWhatsApp__btn.auto-hide {
    opacity: 0;
}