#chrome_extension_privateWhatsApp__btn {
    display: inline;
    background-color: #b0b0b0;
    margin: 0 10px;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.4;
    transition: opacity .3s;
}

#chrome_extension_privateWhatsApp__btn:hover {
    opacity: 0.7 !important;
}

/*************************
        on hide:
*************************/
#side.hide {

    //_ BUTTON
    #chrome_extension_privateWhatsApp__btn:not(.auto-hide) {
        opacity: 1;
    }

    //_ CHATS
    //: HIDE chat-title:
    .y_sn4 {
        opacity: 0.2; //* this value is referenced in popup.html
        transition: opacity 0.3s;
    }

    //: HIDE profiles:
    ._3g4Pn {
        opacity: 0.5;
        transition: opacity 0.3s;
    }

    //: HIDE recent-msg:
    .Hy9nV {
        color: transparent;
        visibility: hidden;

        //: HIDE emoji:
        // just ones inside recent-msg
        img {
            display: none;
        }
    }

    //: SHOW on single chat hover
    .lhggkp7q:hover {

        // profiles & chat-title
        ._3g4Pn,
        .y_sn4 {
            opacity: 1;
        }
    }

    //: SHOW recent-msg (on recent-msg container hover)
    // hover is on `.vQ0w7` and not on `.Hy9nV` bcos of emojis (when the recent-msg is only an emoji, hover on `.Hy9nV` doesn't work)
    .vQ0w7:hover {
        .Hy9nV {
            $original_text_color: var(--cell-chat-secondary-color, var(--secondary));
            visibility: visible;
            color: $original_text_color;

            // emoji
            img {
                display: inline-block;
            }
        }
    }

    /********************************
            on hide chat-title too
    ********************************/
    //: HIDE chat-title:
    &.hide-chat-title-too {
        .y_sn4 {
            opacity: 0;
        }
    }
}


/*************************
        on hide button
*************************/
#chrome_extension_privateWhatsApp__btn.auto-hide {
    opacity: 0;
}