#popup--chrome_extension_privateChats__btn {
    width: max-content;
    max-width: 350px;

    .shani--ul {

        li {
            display: flex;
            flex-direction: row;

            label {
                margin-right: 10px;
            }
        }
    }

}